body{

    background-image: url("/image/weather.jpg");
   background-size: cover;
    background-repeat: no-repeat;
}




.container{
  background-color: rgba(255,255,255,0.8);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    max-width: 620px;
    max-height: auto;
    text-align: center;
}
.issue{
color: rgb(205,0,0);
font-weight: 900;
margin-left: 200px;
}
.nav-link{
color: black;
font-weight: 500;
font-size: large;
}
.navbar-brand{
font-weight: 900;
font-size: xx-large;
}
h1{
margin-top: 20px;
}
